<ion-header>
  <ion-toolbar>
    <ion-title>tab Four</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button [routerLink]="['/slide-menu']"  > Go SildeMenuComponent  </ion-button>
  <ion-button [routerLink]="['/action-sheet']"  > Go ActionSheetComponent  </ion-button>
  <ion-button [routerLink]="['/toast']"  > Go ToastComponent  </ion-button>
  <ion-button [routerLink]="['/loading']"  > Go LoadingComponent  </ion-button>
  <ion-button [routerLink]="['/modal']"  > Go ModalComponent  </ion-button>
</ion-content>
