.correct-errors-image-content {
    overflow: hidden;
    width: 92%;
    margin: 0 auto;
  }
  .correct-errors-image-wrap {
    max-width: 8.3rem;
    max-height: 6.9rem;
    height: 6.6rem;
    width: 24%;
    border: 1px dashed #665aeb;
    background: #f6f6f6;
    float: left;
    margin-bottom: 12px;
    margin-right: 1%;
  }