<ion-header>
  <ion-toolbar>
    <ion-title>sqlite</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="setData()">
      Set Sqlite
    </ion-button>
    <ion-button (click)="GetData()">
      Get SqliteData
    </ion-button>
    <ion-button (click)="Refresh()">
      Refresh
    </ion-button>
    <ion-button (click)="getList()">
      getList
    </ion-button>
    <ion-button (click)="getDRSList()">
      getDRSList
    </ion-button>
    <ion-button (click)="addBatch()">
      addBatch
    </ion-button>
    {{userList|json}}
</ion-content>
