<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <app-list></app-list>
    <ion-button color="dark" [routerLink]="['/toolbar']"  >toolbar组件演示</ion-button>
    <ion-button  [routerLink]="['/sildes']" > GO SlidesComponent </ion-button>
    <ion-button  [routerLink]="['/searchbar']" > GO SearchBarComponent </ion-button>
    <ion-button  [routerLink]="['/segment']" > GO SegmentComponent </ion-button>
    <ion-button  [routerLink]="['/datetime']" > GO DateTimeComponent </ion-button>
    <ion-button  [routerLink]="['/tab-change']" > GO TabsChangeComponent </ion-button>
</ion-content>
