<ion-app>
  <ion-menu side="start" menuId="first">
    <ion-header>
      <ion-toolbar color="success">
        <ion-title>用户信息</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <!-- routerDirection 是一个动画 -->
          <ion-item [routerLink]="['/tabs/tab1']" [routerDirection]="'root'">Menu Item1</ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/tabs/tab2']">Menu Item2</ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/tabs/tab3']">Menu Item3</ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/tabs/tab4']">Menu Item4</ion-item>
        </ion-menu-toggle>
        <ion-item>Menu Item</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>